/**
*索引結果 page
*/

.search{
    padding: 0;
}

.search-container{
    max-width: 990px;
}

/*這個請跟前面的 .berad a合併寫在一起即可*/

.bread span {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #747474;
}


/*母標 子標*/

.mom-search {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.2em;
    /* line-height: 65px; */
    text-align: center;
    color: #000000;
    padding-bottom: 10px;
}

.child-search {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.5em;
    line-height: 25px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}


/*篩選器*/

.sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #000;
    margin-bottom: 70px;
}

.sort-item {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: center;
    /* border: 1px solid #000; */
    padding: 20px 40px 20px 40px;
}

/* .sort-item .bottom-line:hover,
.sort-item .bottom-line:active,
.sort-item .bottom-default {
    font-weight: 700;
    color: #000000;
} */

.sort-item .bottom-line:hover,
.sort-item .bottom-line:active,
.sort-item .sort-itemShow {
    font-weight: 700;
    color: #000000;
}



/* 篩選器 ashley */

.active{
    display: block;
}



/*篩選結果 文章＆講義*/

.sort-section {
    display: block;
}

.sort-title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.5em;
    padding-bottom: 16px;
    margin-bottom: 30px;
}

.sort-article .sort-title {
    border-bottom: 3px solid #FFD100;
}

.sort-handouts .sort-title {
    border-bottom: 3px solid #00A0E3;
}

/* .文章列表的版請套用到這 {
    height: 800px;
    background: #FFD100;
    justify-content: center;
    margin-bottom: 70px;
} */

/* 文章列表 */

.search .article_Box{
    justify-content: center;
}

.arrow-down{
    width: 62px;
    height: 62px;
    background-color: rgba(251, 169, 73);
    border-radius: 50%;
    text-align: center;
    line-height: 62px;
    color: #fff;
    position: relative;
    left: 50%;
    transform: matrix(-50%);
}


@media (max-width: 956px){
    .article_Box {
        padding-bottom: 20px;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 850px){
    
    .search .article_Box{
        width: 475px;
    }
}

@media (max-width: 500px){
    .search .article_Box {
        width: 308px;
        padding: 12px;
        padding-top: 75px;
    }
}




/* ↑文章列表 */



.handouts-lists {
    display: flex;
    z-index: 10;
    align-items: center;
    /* overflow: scroll;
    flex-basis: 950px; */
    justify-content: flex-start;
}

.handouts-lists>.classBox {
    margin-right: 30px;
    margin-bottom: 39px;
    margin-left: 30px;
    
}

.swiper-slide{
    display: none;
}

.swiper-slideShow{
    display: block;
    width: 29%;
}

/* 標籤縮小 */
.classBox-content:hover .label-item {
    
    transform: scale(0.9) ;
}




@media screen and (min-width: 853px) and(max-width: 1201px) {
    .handouts-lists>.classBox:nth-child(2n) {
        margin-right: 0;
    }
}


/*swiper arrow*/

.swpier-container {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: #000;
}

.swiper-button-prev {
    right: -20px;
    z-index: 1;
}

.swiper-button-next {
    left: -20px;
    z-index: 1;
}


/*mobile sort bar*/

.mobile-sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-sort-item {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: center;
    border: .3px solid #000;
    padding: 5px calc(100%-40px);
    flex-grow: 1;
}

.mobile-sort-item a {
    color: #000;
}

.mobile-sort-item:nth-child(1) {
    border-radius: 100px 0 0 100px;
}

.mobile-sort-item:nth-child(3) {
    border-radius: 0 100px 100px 0;
}

.mobile-sort-item:active {
    background: #FFD100;
}

.mobile-sort-bar {
    display: none;
    
}

.search .classBox-content{
    max-width: 320px;
    width: 91.5%;
}


/* 講義 */

/* .search .classBox-content{
    max-width: 320px;
    width: 100%;
} */



@media screen and (min-width: 768px){
    /* .search .classBox-content{
        max-width: 320px;
        width: 100%;
    } */

    /* .search .classBox-title>h3{
        font-size: 18.72px;
    }

    .search .content-main{
        width: 216px;
    }

    .search .label-item a{
        font-size: 11px;
    } */


}

@media screen and (min-width:769px) and (max-width: 1273px){
    .search .classBox-title>h3{
        font-size: 18.72px;
    }

    .search .label-list{
        flex-wrap: wrap;
    }

    .handouts-lists{
        justify-content: space-evenly;
    }

    .handouts-lists>.classBox{
        width: 220px;
        margin-right: 20px;
        margin-left: 20px;
    }

   .search .classBox-content{
        width: 86.5%;
        height: 250px;
    }

    .search .content-main{
        width: 220px;
    }

    .search .label-item a{
        font-size: 11px;
    }

    .search .searchHandouts-subtitle>h3{
        font-size: 14px;    
    }

    .search .content-main{
        top: 73px;
        width: 92%;
    }
}




@media screen and (min-width:769px) and (max-width: 1020px){
    
    .search .searchHandouts-subtitle>h3{
        font-size: 14px;
    }

    .handouts-lists>.classBox{
        margin-right: 10px;
        margin-left: 10px;
    }


}

@media screen and (min-width:769px) and (max-width: 975px){
    .search .searchHandouts-subtitle>h3{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 150px;
        
    }

    .classBox-content{
        max-width: 167px;
        width: 100%;
    }
}



@media screen and (max-width: 768px) {
    .mobile-sort-bar {
        display: block;
        margin-bottom: 30px;
    }
    .sort-bar,
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .search .section-intro {
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 40px;
    }
    .mom-search,
    .child-search {
        display: inline-flex;
        font-weight: 400;
        padding-bottom: 0px;
    }
    .mom-search {
        font-size: 24px;
        padding-right: 14px;
    }
    .child-search {
        font-size: 11px;
    }
    .sort-section .sort-title {
        font-size: 18px;
    }
    .handouts-lists {
        display: flex;
        flex-direction: column;
        z-index: 10;
        justify-content: center;
   
        flex-basis: 768px;
    }
    .handouts-lists .classBox {
        margin-right: 0;
        width: 350px;
    }

    .search-container, .sort-section{
        padding-left: 25px;
        padding-right: 25px;
    }

    /* 增加 */
    .swiper-slideShow{
        width: 320px;
    }

    
}

@media screen and (max-width: 428px){
    .handouts-lists .classBox{
        width: 220px;
    }

    .classBox .classBox-content{
        width: 86.5%;
        height: 250px;
    }

}


@media screen and (min-width: 1202px) {
    .handouts-lists .classBox:nth-child(3n+2) {
        padding-top: 0px;
    }
}